.catalog {
    display: flex;
    flex-wrap: wrap;
}

.catalog__cart {
    border: 1px solid red;
    width: calc(100% / 4 - 30px);
    padding: 10px 15px;
    margin: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.catalog__cart

.catalog__field-name {
    font-size: 25px;
    margin-top: 10px;
}

.catalog__btn-block {
    display: flex;
    margin-top: auto;
}

@media (max-width: 1200px) {
    .catalog__cart {
        width: calc(100% / 3 - 30px);
    }
}

@media (max-width: 850px) {
    .catalog__cart {
        width: calc(100% / 2 - 30px);
    }
}
