footer {
    background-color: #DCDCDC;
    height: 70px;
    text-align: center;
    margin-top: auto;
}

.footer__content {
    display: block;
    padding-top: 5px;
}

.footer__text {
    display: block;
    margin-bottom: 3px;
}
